/*Add styling below*/

body {
    margin: 2% 15% 0 15%;
    background-color: #ccccff;
}

h1 {
    text-align: center;
    color: #34495e;
    font-family: 'Acme', sans-serif;
    font-size: 60px;
}

#add-todo {
    width: 100%;
}

span {
    text-justify: distribute;
}

ul {
    margin: auto;
    padding: 0 0 0 0;
    width: 50%;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 25px 8px 12px 40px;
    background: #A2DED0;
    font-size: 25px;
    color: black;
    transition: 0.2s;
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style: none;
    max-width: 546px;
}

ul li:nth-child(odd) {
    background: #65C6BB;
}

ul li:hover {
    background: #26A65B;
}

.close {
    position: absolute;
    height: 65px;
    right: 0;
    top: 0;
    padding: 30px 50px 16px 25px;
    border: none;
    background-image: url('img/del.png');
    background-size: 70px;
    background-repeat: no-repeat;
    font-size: 16px;
    border-left: 1px solid #95a5a6;
}

.close:hover {
    background-color: #e74c3c;
    color: white;
    /* height: 65px; */
    cursor: pointer;
}

#desc {
    width: 84%;
}

input[type=text],
select,
#input-content {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 2%;
    margin-top: 2%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
}

select {
    margin-top: 0;
}

#input-content {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    resize: none;
    height: 80px;
}

.subBtn {
    width: 30%;
    background-color: #27ae60;
    color: white;
    padding: 14px 20px;
    margin: 2%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 22px;
}

.subDiv {
    text-align: center;
}

.subBtn:hover {
    background-color: #2ecc71;
}

#secLabel {
    font-style: italic;
    font-weight: bolder;
    margin: 1%;
}

.container {
    color: #15046b;
    font-size: 20px;
    padding: 4%;
    font-family: Artifika-Regular;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

hr {
    color: silver;
}

#footer {
    color: #6A6E71;
    padding: 20px 0;
    text-align: center;
    overflow: hidden;
}

#footer span {
    float: center;
    font-size: 18px;
}

.addBtn {
    width: 15%;
    background: #7f8c8d;
    color: white;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s;
    border-left: 1px solid black;
    height: 46px;
}

.addBtn:hover {
    background-color: #16a085;
}


/* CSS for result page */

.containers {
    display: flex;
}

.firstDiv {
    flex: 1;
    background-color: red;
}

.secondDiv {
    flex: 1;
    background-color: green;
}

.thirdDiv {
    flex: 1;
    background-color: orange;
}

#contiueTable {
    width: 100%;
}

#stopTable {
    width: 100%;
}

#goTable {
    width: 100%;
}

tr {
    width: 100%;
}

#firstCell {
    width: 65%;
}

#secondCell {
    width: 20%;
}

#thirdCell {
    width: 15%;
}


/*Tablet */

@media screen and (max-width: 768px) {
    h1 {
        font-size: 50px;
    }
    input[type=text],
    select,
    #input-content,
    .container {
        font-size: 18px;
    }
    input[type=submit] {
        font-size: 18px;
    }
    p {
        font-size: 18px;
    }
    .tables-container {
        font-size: 15px;
    }
    #footer span {
        font-size: 15px;
    }
}


/*Mobile*/

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 46px;
    }
    input[type=text],
    select,
    #input-content,
    .container {
        font-size: 16px;
    }
    input[type=submit] {
        font-size: 18px;
    }
    p {
        font-size: 18px;
    }
    .tables-container {
        font-size: 12px;
        text-align: center;
    }
    #footer span {
        font-size: 15px;
    }
}